:root {
    --global-font-family: 'Poppins';
    --global-palette1: #306EF7;
    --global-palette2: #707070;
    --global-palette3: #0FC65C;
    --global-palette4: #919191;
    --global-palette5: #0E0E0E;
    --global-palette6: #000000;
    --global-palette7: #cccccc;
    --global-palette8: #f3f3f3;
    --global-palette9: #ffffff;
    --link-font-size: 20px;
    --link-line-height: 30px;
    --primary-color: var(--global-palette1);
    --primary-bg-color: var(--global-palette1);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--global-font-family);
    transition: all ease-in-out 0.3s;
}


body {
    background-color: var(--global-palette6);
}

section {
    width: 100%;
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: clamp(2.6875rem, 1.825rem + 4.3125vw, 7rem);
    line-height: 1.5;
    font-weight: 700;
    color: var(--global-palette9);
}

h2 {
    font-size: clamp(2.25rem, 1.7625rem + 2.4375vw, 4.6875rem);
    line-height: 1.5;
    font-weight: 600;
    color: var(--global-palette9);
}

h3 {
    font-size: clamp(2.1875rem, 1.75rem + 2.1875vw, 4.375rem);
    line-height: 1.5;
    font-weight: 600;
    color: var(--global-palette9);
}

h4 {
    font-size: clamp(1.5rem, 1.3625rem + 0.6875vw, 2.1875rem);
    line-height: 1.5;
    font-weight: 600;
    color: var(--global-palette9);
}

h5 {
    font-size: clamp(1.375rem, 1.3375rem + 0.1875vw, 1.5625rem);
    line-height: 1.5;
    font-weight: 600;
    color: var(--global-palette9);
}

h6 {
    font-size: clamp(1.375rem, 1.3375rem + 0.1875vw, 1.5625rem);
    line-height: 1.5;
    font-weight: 600;
    color: var(--global-palette1);
    text-transform: uppercase;
}

p, span, div {
    font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
    font-family: var(--global-font-family);
    line-height: 1.5;
    color: var(--global-palette2);
}

a {
    color: var(--global-palette2);
    font-family: var(--global-font-family);
    font-weight: 500;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    line-height: 1.5;
    text-decoration: none;
}

a:hover {
    color: var(--global-palette1);
}

a.btn {
    max-width: 315px;
    width: 100%;
    padding: 24px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.btn-primary {
    color: var(--global-palette9);
    border: 1px solid var(--global-palette1);
    background-color: var(--primary-bg-color);
}

a.btn-primary:hover {
    background-color: transparent;
    border: 1px solid var(--global-palette1);
    color: var(--global-palette1);
}

a.btn-transparent {
    border: 1px solid var(--global-palette2);
    color: var(--global-palette2);
    background-color: transparent;
}

a.btn-transparent:hover {
    color: var(--global-palette6);
    background-color: var(--global-palette2);
}

.btns-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 26px;
}

@media (max-width: 767px) {
    .btns-wrapper {
        flex-direction: column;
    }
}