.send-emails-area {
    display: flex;
    flex-direction: column;
    gap: 190px;
}

.send-emails-area .container.top-content {
    max-width: 1167px;
    padding: 95px 24px 0px;
    margin: 0 auto;
}

.send-emails-area .container.bottom-content {
    max-width: 1762px;
    padding: 0px 0px 95px 24px;
    margin-right: 0px;
}

.send-emails-area .top-content .content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.send-emails-area .top-content .content-wrapper p {
    max-width: 915px;
    margin: -9px auto 0px;
    font-size: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
}

.send-emails-area .bottom-content .content-wrapper {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    justify-content: space-between;
}

.send-emails-area .bottom-content .content-wrapper .left-content {
    width: calc((100% - 32px) / 2);
}

.send-emails-area .bottom-content .content-wrapper .right-content {
    width: calc((100% - 32px) / 2);
    display: flex;
    justify-content: flex-end;
}

.send-emails-area .bottom-content .content-wrapper .left-content .sub-title {
    font-size: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
    font-weight: 500;
    margin-bottom: 80px;
}


.send-emails-area .bottom-content .left-content ol.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 28px;
    padding-left: 33px;
}

.send-emails-area .bottom-content .left-content li {
    list-style: none;
    position: relative;
    padding-left: 12px;
    color: var(--global-palette9);
}

.send-emails-area .bottom-content .left-content li:first-child::before {
    position: absolute;
    content: '1';
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--global-palette2);
    border-radius: 50%;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.send-emails-area .bottom-content .left-content li:last-child::before {
    position: absolute;
    content: '2';
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--global-palette2);
    border-radius: 50%;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.send-emails-area .bottom-content .left-content .btns-wrapper {
    margin-top: 66px;
    gap: 24px;
}

.send-emails-area .bottom-content .left-content .btns-wrapper a {
    padding: 18px;
    max-width: 207px;
}

.send-emails-area .bottom-content .left-content .btns-wrapper a.btn-transparent {
    background-color: #0E0E0E;
}

.send-emails-area .bottom-content .left-content .btns-wrapper a.btn-transparent:hover {
    background-color: var(--global-palette2);
}

.send-emails-area .bottom-content .right-content img {
    margin-top: -5px;
    aspect-ratio: 820 / 680;
    max-width: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {

    .send-emails-area {
        gap: 120px;
    }

    .send-emails-area .container.top-content {
        padding: 75px 24px 0px;
    }

    .send-emails-area .container.bottom-content {
        padding: 0px 0px 75px 24px;
    }

    .send-emails-area .bottom-content .content-wrapper {
        flex-direction: column;
        gap: 50px;
    }
    
    .send-emails-area .bottom-content .content-wrapper .left-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .send-emails-area .bottom-content .content-wrapper .left-content .sub-title {
        margin-bottom: 40px;
    }

    .send-emails-area .bottom-content .content-wrapper .left-content h2 {
        text-align: center;
    }

    .send-emails-area .bottom-content .content-wrapper .left-content .btns-wrapper {
        justify-content: center;
    }
    .send-emails-area .bottom-content .content-wrapper .right-content {
       width: 100%;
    }

    .send-emails-area .bottom-content .content-wrapper .right-content img{
        margin: 0;
    }
}

@media (max-width: 767px) {
    .send-emails-area {
        gap: 50px;
    }
    .send-emails-area .container.top-content {
        padding-top: 50px;
    }
    .send-emails-area .container.bottom-content {
        padding-bottom: 50px;
    }

    .send-emails-area .bottom-content .content-wrapper .left-content .sub-title {
        margin-bottom: 20px;
    }
}